[postgresql]
host=postgres.example.com
port=5432
db=important_db_prod
user=monitoring
password=SuperDuperStrongPazzLOL
file=getstatuses.sql
[smtp]
smtp_server=smtp.example.com
port=587
sender_email=joro@example.com
sender=joro@example.com
password=evenStrongerSuperDuperPazz9876543
recepients=user1@example.com,user1@example.com
subject_issue=[RED] PROBLEM: PostgreSQL server status
subject_resolved=[GREEN] RESOLVED: PostgreSQL server status
email_body_issue=<html><meta http-equiv="content-type" content="text/html; charset=utf-8"><body><font face="arial" size="3"><p>There is an issue with PostgreSQL server running on <b>postgres.example.com</b></p><p> </p><p>Please check and resolve this issue promptly.</p></font></body></html>
email_body_resolved=<html><meta http-equiv="content-type" content="text/html; charset=utf-8"><body><font face="arial" size="3"><p>The issue with PostgreSQL server running on <b>postgres.example.com</b> has been resolved.</p></font></body></html>
